main {
    margin-top: 64px;
}

.products{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
}

.products-title{
    color: var(--gray-color);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
}

.products-view-all {
    background: url(../../img/right-arrow.svg) no-repeat;
    background-position: center right;
    font-size: 16px;
    font-weight: 700;
    color: var(--primary-color);
    align-self: flex-end;
    padding-right: 30px;
}

.products-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 26px;
    row-gap: 16px;
}

.products-list img {
    width: 200px;
}

.products-details{
    font-size: 14px;
    font-weight: 500;
    color: var(--gray-color);
    margin: 8px 0px;
}

.products-price{
    font-size: 16px;
    font-weight: 700;
    color: var(--gray-color);
    margin-bottom: 8px;
}

.products-view{
    font-size: 16px;
    font-weight: 700;
    color: var(--primary-color);
}


@media(max-width: 1285px){
  .products-list li:nth-child(6){
    display: none;
  }

  main {
    margin-top: 32px;
  }
}

@media(max-width: 1072px){
    .products-list li:nth-child(5){
      display: none;
    }

    .products-list img {
        width: 164px;
    }

    .products-details{
        font-size: 12px;
    }
  }

  @media(max-width: 715px){
    .products-list li:nth-child(4){
        display: none;
      }
  }

  @media(max-width: 576px){
    main {
        margin-top: 16px;
    }

    .products-view-all {
      font-size: 14px;
  }

    .products-details{
        font-size: 10px;
    }

    .products-price{
      font-size: 12px;
  }
  
  .products-view{
      font-size: 12px;
  }
  }

  @media(max-width: 535px){
    .products-list li:nth-child(4){
        display: block;
      }

  }

  @media(max-width: 345px){
    .products-list li:nth-child(2n){
        display: none;
      }

    .products-list img {
        width: 95vw;
    }
  }


