.add-product-menu{
    width: auto;
    padding: 0 16px;
    height: auto;
    line-height: auto;
    font-size: 16px;
}

.title-form-login{
    width: auto;
    text-align: center;
    margin-top: 92px;
    margin-bottom: 24px;
    color: var(--gray-color);
    font-weight: 700;
    font-size: 32px;
}


.form-login{
    margin: 0 auto;
    width: 423px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.form-login input {
    padding: 18px 0px 25px 12px;
}

.add-product-desc{
    height: 82px;
}

.form-login button {
    align-self: flex-start;
    font-weight: 600;
    background-color: var(--primary-color);
    color: var(--white-color);
    height: 62px;
    width: 100%;
    text-align: center;
    line-height: 62px;
    cursor: pointer;
    margin-bottom: 92px;
}

.form-login button:hover {
    background-color: var(--secondary-color);
}

@media(min-width: 768px) and (max-width: 825px){
    .add-product-menu{
        padding: 0 8px;
        font-size: 12px;
    }
}

@media (max-width: 780px) {
    .title-form-login{
        margin-top: 40px;
        font-size: 22px;
    }

    .form-login{
        width: 275px;
        row-gap: 16px;
    }

    .form-login input {
        padding: 8px 0px 13px 12px;
    }

    .form-login button {
        align-self: center;
        height: 40px;
        text-align: center;
        line-height: 40px;
        margin-bottom: 60px;
    }
}

@media(min-width: 577px) and (max-width: 618px){
    .add-product-menu{
        padding: 0 8px;
        font-size: 12px;
    }
}

@media(max-width: 345px){
    .add-product-menu{
        padding: 0 8px;
        font-size: 12px;
    }

    .title-form-login{
        font-size: 18px;
    }
  }